@import "tailwindcss";

:root {
  --background: #ffffff;

  /* Border Radius */
  --radius-sm: 5px;

  /* Colors */
  --primary: #db0000;
  --secondary: #ffffff;
  --nav: #f7eeee;
  --info: rgb(235, 223, 223);

  /* Font Family  */
  --font-roboto: var(--font-roboto);
  --font-roboto-mono: var(--font-roboto-mono);
}

.dark {
  --background: #000000;

  /* Colors */
  --primary: #ffffff;
  --secondary: #010000;
  --nav: #dadada;
  --info: #515451;
}

@theme inline {
  --color-background: var(--background);

  /* Colors */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-nav: var(--nav);
  --color-info: var(--info);

  /* Font Family  */
  --font-roboto: var(--font-roboto);
  --font-roboto-mono: var(--font-roboto-mono);

  /* Border Radius */
  --radius-sm: var(--radius-sm);
}

@layer base {
  html,
  body,
  :root {
    height: 100%;
    background-color: var(--background);
  }
}
